
body {
    overflow-x: hidden;
}
#wrapper {
    background: #2a323c none repeat scroll 0 0;
    height: 100%;
    padding-left: 0;
    transition: all 0.5s ease 0s;
}
#sidebar-wrapper {
    background: #2a323c none repeat scroll 0 0;
    height: 100%;
    left: 230px;
    margin-left: -230px;
    margin-top: 75px;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 0;
    z-index: 1000;
}
#wrapper.toggled #sidebar-wrapper {
    width: 230px;
}
#page-content-wrapper {
    background: #f5f5f5 none repeat scroll 0 0;
    height: 100%;
    padding: 0;
    width: 100%;
}
#wrapper.toggled #page-content-wrapper {
    margin-right: -230px;
}
.sidebar-nav {
    list-style: outside none none;
    margin: 0;
    padding: 20px 0 0;
    position: absolute;
    top: 0;
    width: 230px;
}
.sidebar-nav li {
    line-height: 40px;
    margin-bottom: 12px;
    text-indent: 20px;
}
.sidebar-nav li a {
    border-left: 3px solid transparent;
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 0;
    text-decoration: none;
    cursor: pointer;
}
.sidebar-nav li a:not([href]):not([tabindex]) {
  color: #fff;
}
.sidebar-nav li a i {
    float: left;
    font-size: 16px;
    margin-left: 4px;
}
.sidebar-nav li a span {
    padding-left: 10px;
}
.sidebar-nav li a:hover, .sidebar-nav li.active a {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    border-left: 3px solid #0272b6;
    color: #fff;
    text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    height: 65px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
}
