body { overflow-x: hidden; }
/* Toggle Styles */
#wrapper { padding-left: 0; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; background: #2a323c; height: 100%; }
#sidebar-wrapper { z-index: 1000; position: absolute; left: 230px; width: 0; height: 100%; margin-left: -230px; overflow: hidden; background: #2a323c; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; top: 0px; margin-top: 75px; }
#wrapper.toggled #sidebar-wrapper { width: 230px; }
#page-content-wrapper { width: 100%; padding: 0px; background: #f5f5f5; height: 100%; }
#wrapper.toggled #page-content-wrapper { margin-right: -230px; }
/* Sidebar Styles */
.sidebar-nav { position: absolute; top: 0; width: 230px; margin: 0; padding: 0; list-style: none; padding-top:20px; }
.sidebar-nav li { text-indent: 20px; line-height: 40px; margin-bottom: 12px; }
.sidebar-nav li a { display: block; text-decoration: none; color: #fff; font-size: 14px; line-height: 16px; padding: 8px 0px; border-left: 3px solid transparent; }
.sidebar-nav li a i { float: left; font-size: 16px; margin-left: 4px; }
.sidebar-nav li a span { padding-left: 10px; }
.sidebar-nav li a:hover, .sidebar-nav li.active a { text-decoration: none; color: #fff; background: rgba(255,255,255,0.2); border-left: 3px solid #0272b6; }
.sidebar-nav li a:active, .sidebar-nav li a:focus { text-decoration: none; }
.sidebar-nav > .sidebar-brand { height: 65px; font-size: 18px; line-height: 60px; }
.sidebar-nav > .sidebar-brand a { color: #999999; }
.sidebar-nav > .sidebar-brand a:hover { color: #fff; background: none; }
